<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <form [formGroup]="registerForm" (ngSubmit)="signup(registerForm.value)">
    <ion-list class="p-1" lines="full">
      <div class="mb-4">
        <input type="text" placeholder="Nombre de usuario" formControlName="userName" autocapitalize="off" class="border-gray-300 focus:border-primary focus:ring-primary rounded-md w-full">
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.userName">
            <div class="error-message" *ngIf="registerForm.get('userName').hasError(validation.type) && (registerForm.get('userName').dirty || registerForm.get('userName').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="mb-4">
        <input type="email" class="border-gray-300 focus:border-primary focus:ring-primary rounded-md w-full" placeholder="Email" formControlName="email" autocapitalize="off" inputmode="email">
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="mt-1 relative">
        <input class="border-gray-300 focus:border-primary focus:ring-primary rounded-md w-full" id="passwordInput2" type="password" placeholder="Contraseña" formControlName="password">
        <div class="absolute right-2 flex items-center top-2.5">
          <a class="cursor-pointer" (click)="toggleShow()">
            <ion-icon class="show-option text-primary text-xl" [hidden]="!showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option text-primary text-xl" [hidden]="showPassword" name="eye-outline"></ion-icon>
          </a>
        </div>
      </div>

      <div class="error-container">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <div class="px-1">
      <ion-button class="signup-btn" type="submit" expand="block" color="secondary" [disabled]="!registerForm.valid">Crear cuenta</ion-button>
      <div class="error-container" *ngIf="submitError">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
    </div>
  </form>
</ion-content>
