<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-list class="p-1" lines="full">
      <div class="mb-4">
        <input type="email" class="border-gray-300 focus:border-primary focus:ring-primary rounded-md w-full" placeholder="Email" formControlName="email" autocapitalize="off" inputmode="email">
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="mt-1 relative">
        <input class="border-gray-300 focus:border-primary focus:ring-primary rounded-md w-full" id="passwordInput" type="password" placeholder="Contraseña" formControlName="password">
        <div class="absolute right-2 flex items-center top-2.5">
          <a class="cursor-pointer" (click)="toggleShow()">
            <ion-icon class="show-option text-primary text-xl" [hidden]="!showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option text-primary text-xl" [hidden]="showPassword" name="eye-outline"></ion-icon>
          </a>
        </div>
      </div>

      <div class="error-container">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <div class="px-1">
      <ion-button class="login-btn" color="secondary" type="submit" expand="block" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
      <div class="error-container" *ngIf="submitError">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
      <p>o</p>
      <ion-row>
        <ion-button class="signup-btn" color="secondary" fill="clear" (click)="goForward()">
          Crea una cuenta
        </ion-button>
      </ion-row>
    </div>
  </form>
</ion-content>
