:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

.login-content {
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .error-container {
    .error-message {
      margin: calc(var(--page-margin) / 2) 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }

  .login-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .signup-btn {
    text-transform: initial;
    margin: 0 auto;
  }

  p {
    text-align: center  ;
  }
}
