<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial de temas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let topic of topics">
      <ion-label>{{ topic.name }}</ion-label>
      <div slot="end" class="flex gap-x-4">
        <ion-note class="flex items-center gap-x-1">
          {{ topic?.upvotes?.length }}
          <ion-icon color="success" name="thumbs-up-outline"></ion-icon>
        </ion-note>

        <ion-note class="flex items-center gap-x-1">
          {{ topic?.downvotes?.length }}
          <ion-icon color="danger" name="thumbs-down-outline"></ion-icon>
        </ion-note>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
