<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons
      slot="secondary"
      *ngIf="(authService.firebaseUser$ | async) === null"
    >
      <ion-button (click)="openLoginModal()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="authService.firebaseUser$ | async">
      <ion-button (click)="openHistoryModal()">
        <ion-icon slot="icon-only" src="assets/history-icon.svg"></ion-icon>
      </ion-button>
      <ion-button color="secondary" (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Week Topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full w-full flex flex-col justify-center items-center">
    <div id="container" class="text-center inset-x-0">
      <span class="opacity-50 font-extralight">Tema de la semana</span>
      <h1 class="text-xl mt-3 lg:text-3xl">{{ actualTopic?.name }}</h1>
    </div>

    <div class="my-6">
      <ion-button
        fill="clear"
        class="text-primary"
        (click)="upvoteTopic()"
        *ngIf="actualTopic && !actualTopic?.upvotes?.includes(uid)"
      >
        {{ actualTopic?.upvotes?.length }}
        <ion-icon
          slot="start"
          size="large"
          color="success"
          name="thumbs-up-outline"
        ></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        class="text-primary"
        (click)="removeUpvoteFromTopic()"
        *ngIf="actualTopic && actualTopic?.upvotes?.includes(uid)"
      >
        {{ actualTopic?.upvotes?.length }}
        <ion-icon
          slot="start"
          size="large"
          color="success"
          name="thumbs-up"
        ></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        class="text-primary"
        (click)="downvoteTopic()"
        *ngIf="actualTopic && !actualTopic?.downvotes?.includes(uid)"
      >
        {{ actualTopic?.downvotes?.length }}
        <ion-icon
          slot="start"
          size="large"
          color="danger"
          name="thumbs-down-outline"
        ></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        class="text-primary"
        (click)="removeDownvoteFromTopic()"
        *ngIf="actualTopic && actualTopic?.downvotes?.includes(uid)"
      >
        {{ actualTopic?.downvotes?.length }}
        <ion-icon
          slot="start"
          size="large"
          color="danger"
          name="thumbs-down"
        ></ion-icon>
      </ion-button>
    </div>

    <div
      id="discussion-content"
      class="border-t md:border border-gray-300 border-solid md:rounded-lg mx-auto w-full h-full md:h-60 md:w-9/12 flex flex-col"
    >
      <div
        class="flex justify-center items-center w-full h-full"
        *ngIf="(authService.firebaseUser$ | async) === null"
      >
        <div class="text-center">
          <p>Para leer y escribir mensajes</p>
          <ion-button
            class="mt-4"
            fill="outline"
            color="secondary"
            (click)="openLoginModal()"
            >Inicia sesión</ion-button
          >
        </div>
      </div>

      <ion-list
        *ngIf="authService.firebaseUser$ | async"
        id="contentList"
        class="w-full h-full overflow-y-scroll rounded-lg"
      >
        <ion-item *ngFor="let message of messages">
          <ion-label class="ion-text-wrap">
            <h2>
              {{ message.from }}
              <span class="opacity-50 font-light text-xs"
                >{{ message.createdAt?.toDate() | date : 'EEE HH:mm' }}</span
              >
            </h2>
            <p>{{ message.text }}</p>

            <ion-button
              *ngIf="!message.likes?.includes(uid)"
              fill="clear"
              size="small"
              class="text-primary"
              (click)="likeMessage(message.id)"
            >
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              {{ message.likes?.length }}
            </ion-button>

            <ion-button
              *ngIf="message.likes?.includes(uid)"
              fill="clear"
              size="small"
              class="text-primary"
              (click)="unlikeMessage(message.id)"
            >
              <ion-icon
                class="text-red-600"
                name="heart"
                slot="start"
              ></ion-icon>
              {{ message.likes?.length }}
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-list>

      <div
        class="flex w-full mx-auto border-t border-gray-300 h-14"
        *ngIf="authService.firebaseUser$ | async"
      >
        <!--<input class="focus:outline-none rounded-bl-lg w-full pl-4"
               placeholder="Escribe un mensaje..."
               [(ngModel)]="message">-->
        <textarea
          class="pt-4 border-none resize-none md:rounded-bl-lg w-full focus:outline-none"
          [(ngModel)]="message"
          rows="1"
          placeholder="Escribe un mensaje..."
        ></textarea>

        <ion-button
          class="self-center"
          size="small"
          fill="clear"
          color="secondary"
          (click)="addMessage()"
          [disabled]="message.trim().length === 0"
        >
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
